@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<div class="container">
    <div class="material-wrapper">
        <div class="material-header-wrapper">
            <div class="material-header">
                <div class="icon-wrapper-edit">
                    <div class="icon-pointer-edit js-backBtn">

                    </div>
                    <h2>
                        New Employee Travel
                    </h2>

                </div>
                <div class="txt-status">

                </div>
                <div>
                    <i class="close-form jsCloseForm">
                        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="xmark" class="svg-inline--fa fa-xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="25px"><path fill="#FFF" d="M315.3 411.3c-6.253 6.253-16.37 6.253-22.63 0L160 278.6l-132.7 132.7c-6.253 6.253-16.37 6.253-22.63 0c-6.253-6.253-6.253-16.37 0-22.63L137.4 256L4.69 123.3c-6.253-6.253-6.253-16.37 0-22.63c6.253-6.253 16.37-6.253 22.63 0L160 233.4l132.7-132.7c6.253-6.253 16.37-6.253 22.63 0c6.253 6.253 6.253 16.37 0 22.63L182.6 256l132.7 132.7C321.6 394.9 321.6 405.1 315.3 411.3z"></path></svg>
                    </i>
                </div>

            </div>
            <div class="transfer-info-header jstravelHeader">
                <div class="subtitle-header">
                    <h3 class="items-title-h3">Travel Information</h3>
                </div>

                <button class="transferHeaderBtn jstravelHeaderBtn" id="new">Save</button>
                <i class="items-arrow-i">
                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="16px"><path fill="currentColor" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"></path></svg>
                </i>
            </div>
            <div class="jsMaterialHeader header-border">
                <div class="material-header-sub">

                    <div class="transfer-header-title">
                        <label>Project Origin</label>
                    </div>
                    <div class="project-container">
                        <label class="start-label">Project Number:</label>
                        <div class="form-groups input-icon-wrap">
                            <input type="text" name="pojectNumber" class="customDropdownInput jsProjectNumberOrigin" autocomplete="off" data-propertyname="ProjectNumber" data-propertyid="ProjectID" data-sourcetype="bst" required="">
                            <i class="customDropdownIcon">
                                <svg style="pointer-events: none" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="17px"><path class="caret-down" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                            </i>
                            <ul class="customDropdownUL" style="display: none"></ul>
                        </div>
                        <label class="end-label">Request No:</label>
                        <input type="text" name="requestNumber" class="jsRequestNo" id="jsRequestNo" disabled="">
                    </div>
                    <div class="project-container">
                        <label class="start-label">Project Name:</label>
                        <div class="form-groups input-icon-wrap">

                            <input type="text" name="projectName" autocomplete="off" class=" jsProjectNameOrign" data-propertyname="ProjectName" data-propertyid="ProjectID" data-sourcetype="bst" >
                            <i class="customDropdownIcon">
                                <svg style="pointer-events: none" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="17px"><path class="caret-down" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                            </i>
                            <ul class="customDropdownUL" style="display: none"></ul>
                        </div>
                        <label class="end-label">Request Date:</label>
                        <input type="date" name="name" class="jsPojectDate" required/>
                    </div>
                </div>
                <div class="material-header-sub">

                    <div class="transfer-header-title">
                        <label>Project Destination</label>
                    </div>
                    <div class="project-container">
                        <label class="start-label">Project Number:</label>
                        <div class="form-groups input-icon-wrap">
                            <input type="text" name="pojectNumber" class="customDropdownInput jsProjectNumberDestination" autocomplete="off" data-propertyname="ProjectNumber" data-propertyid="ProjectID" data-sourcetype="bst" required="">
                            <i class="customDropdownIcon">
                                <svg style="pointer-events: none" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="17px"><path class="caret-down" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                            </i>
                            <ul class="customDropdownUL" style="display: none"></ul>
                        </div>
                        <label class="end-label">Travel Date:</label>
                        <input type="date" name="dateOftravel" class="jsDateOfTravel"required/>
                    </div>
                    <div class="project-container" style="grid-template-columns: 150px 35% 140px auto;">
                        <label class="start-label">Project Name:</label>
                        <div class="form-groups input-icon-wrap">

                            <input type="text" name="projectName" autocomplete="off" class=" jsProjectNameDestination" data-propertyname="ProjectName" data-propertyid="ProjectID" data-sourcetype="bst" >
                            <i class="customDropdownIcon">
                                <svg style="pointer-events: none" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="17px"><path class="caret-down" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                            </i>
                            <ul class="customDropdownUL" style="display: none"></ul>
                        </div>
                        <label class="end-label">Purpose of Travel:</label>
                        <input type="text" name="puposeOfTravel" class="jsPuposeOfTravel" required/>
                    </div>
                </div>

            </div>
        </div>
        <div class="travel-item-con">

            <div class="travel-detail-con">
                <div class="materials-header-con">
                    <h3 class="items-title-h3">List of Traveler</h3>
                    <button class="jsAddTravelers disabled" disabled> Add</button>
                    <i class="items-arrow-i">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="16px"><path fill="currentColor" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"></path></svg>
                    </i>
                </div>
                <div class="travel-purpose-con">
                    <div class="travel-purpose-header">
                        <div>No</div>
                        <div>Name of Travellers</div>
                        <div>Position</div>
                        <div>Birthdate</div>
                        <div>Baggage Weight</div>
                    </div>
                    <div class="travel-purpose-details-con">

                    </div>

                </div>
            </div>
            <div class="travel-detail-con">
                <div class="materials-header-con">
                    <h3 class="items-title-h3">Itinerary Details</h3>
                    <button class="jsAddItenerary disabled" disabled> Add</button>
                    <i class="items-arrow-i">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="16px"><path fill="currentColor" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"></path></svg>
                    </i>
                </div>
                <div class="travel-itirerary-con">
                    <div class="travel-itirerary-header">
                        <div>No</div>
                        <div>From</div>
                        <div>To</div>
                        <div>Mode Of Transport</div>
                        <div>Fare</div>
                        <div></div>
                    </div>
                    <div class="travel-itirerary-details-con">

                    </div>

                </div>
            </div>
            <div class="travel-detail-con">
                <div class="materials-header-con">
                    <h3 class="items-title-h3">Accomodation Details</h3>
                    <button class="jsAddAccomodation disabled" disabled> Add</button>
                    <i class="items-arrow-i">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="16px"><path fill="currentColor" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"></path></svg>
                    </i>
                </div>
                <div class="travel-hotel-header">
                    <div>No</div>
                    <div>Accomodation Type</div>
                    <div>No. of Days</div>
                    <div>Cost</div>
                    <div>Total</div>
                </div>
                <div class="travel-hotel-details-con">

                </div>

            </div>
            <div class="travel-detail-con">
                <div class="materials-header-con" style="grid-template-columns: 1fr 250px 30px;">
                    <h3 class="items-title-h3">Grand Total</h3>
                    <div class="jsGrandTotal" style="display: flex;align-items: center;"><b>P 0.00</b></div>
                    <div></div>
                </div>
            </div>

        </div>
        <div class="" style="padding-bottom: 5px;">
            <hr>
            <div class="materials-footer">
                <div></div>
                <div></div>
                <button class="jsSendToAccounting">
                    <i>
                        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="paper-plane" class="svg-inline--fa fa-paper-plane fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="16px"><path fill="#222" d="M464 4.3L16 262.7C-7 276-4.7 309.9 19.8 320L160 378v102c0 30.2 37.8 43.3 56.7 20.3l60.7-73.8 126.4 52.2c19.1 7.9 40.7-4.2 43.8-24.7l64-417.1C515.7 10.2 487-9 464 4.3zM192 480v-88.8l54.5 22.5L192 480zm224-30.9l-206.2-85.2 199.5-235.8c4.8-5.6-2.9-13.2-8.5-8.4L145.5 337.3 32 290.5 480 32l-64 417.1z"></path></svg>
                    </i>
                    Send To Eng.
                </button>
            </div>

        </div>
    </div>
</div>