
@{
    ViewBag.Title = "Billing";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<div class="container">
    <div class="material-wrapper">
        <div class="material-header-wrapper">
            <div class="material-header">
                <div class="icon-wrapper-edit">
                    <div class="icon-pointer-edit js-backBtn">
                        <i class="back-arrow">
                            <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" height="25px"><path fill="#FFF" d="M25.1 247.5l117.8-116c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L64.7 256l102.2 100.4c4.7 4.7 4.7 12.3 0 17l-7.1 7.1c-4.7 4.7-12.3 4.7-17 0L25 264.5c-4.6-4.7-4.6-12.3.1-17z"></path></svg>
                        </i>
                    </div>
                    <h2>Billing New</h2>
                </div>
                <div class="txt-status">
                    <div>
                        Approve Status: <label class="status jsStatusApproved"></label>
                    </div>
                    <div>
                        Location Status: <label class="status jsStatusLocation"></label>
                    </div>
                </div>
                <div>
                    <i class="close-form jsCloseForm">
                        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="xmark" class="svg-inline--fa fa-xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="25px"><path fill="#FFF" d="M315.3 411.3c-6.253 6.253-16.37 6.253-22.63 0L160 278.6l-132.7 132.7c-6.253 6.253-16.37 6.253-22.63 0c-6.253-6.253-6.253-16.37 0-22.63L137.4 256L4.69 123.3c-6.253-6.253-6.253-16.37 0-22.63c6.253-6.253 16.37-6.253 22.63 0L160 233.4l132.7-132.7c6.253-6.253 16.37-6.253 22.63 0c6.253 6.253 6.253 16.37 0 22.63L182.6 256l132.7 132.7C321.6 394.9 321.6 405.1 315.3 411.3z"></path></svg>
                    </i>
                </div>

            </div>
            <div class="save-btn-con">
                <div class="border-left subtitle-header">
                    <h3 class="items-title-h3">Request Information</h3>
                </div>
                <div>
                    <button class="materialHeaderBtn jsSaveBillingHeaderBtn" id="new" style="width:100%;">Save</button>
                </div>

                <i class="items-arrow-i">
                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="16px"><path fill="currentColor" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"></path></svg>
                </i>
            </div>
            <div class="material-header-sub jsBillingHeader" style="grid-template-rows: auto 1fr;">
                <div class="project-container">
                    <label class="start-label">Project Number:</label>
                    <div class="form-groups input-icon-wrap">
                        <input type="text" name="pojectNumber" class="customDropdownInput jsProjectNumber" autocomplete="off" required data-propertyID="ProjectID" data-propertyName="ProjectNumber" data-sourceType="bst" />
                        <i class="customDropdownIcon jsProjectNumberIcon">
                            <svg style="pointer-events: none" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="17px"><path class="caret-down" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                        </i>
                        <ul class="customDropdownUL" style="display: none"></ul>
                    </div>
                    <label class="end-label">Request No:</label>
                    <input type="text" name="requestNumber" class="jsRequestNo" disabled />
                </div>
                <div class="project-container">
                    <label class="start-label">Project Name:</label>
                    <div class="form-groups input-icon-wrap">

                        <input type="text" name="projectName" autocomplete="off" class="customDropdownInput jsProjectName" required propertyID="ProjectID" data-propertyName="ProjectName" data-sourceType="bst" />
                        <i class="customDropdownIcon jsProjectNameIcon">
                            <svg style="pointer-events: none" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="17px"><path class="caret-down" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                        </i>
                        <ul class="customDropdownUL" style="display: none"></ul>
                    </div>
                    <label class="end-label">Date:</label>
                    <input type="date" name="name" class="jsPojectDate" required />
                </div>

            </div>

        </div>
        <div class="material-details-con">
            <div class="materials-header-con">
                <h3 class="items-title-h3">Item Details</h3>
                <div><button class="jsAddItemBtn disabled" disabled style="width: 100%; height: 100%;"> Add</button></div>
                @*<div class="form-groups input-icon-wrap">
                        <input type="text" name="name" placeholder="Choose Discipline"/>
                        <i class="customDropdownIcon jsProjectNameIcon">
                            <svg style="pointer-events: none" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="17px"><path class="caret-down" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                        </i>
                        <ul class="customDropdownUL" style="display: none"></ul>
                    </div>*@
           
                <i class="items-arrow-i">
                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="16px"><path fill="currentColor" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"></path></svg>
                </i>

            </div>

        </div>
        <div>
            <div class="billing-header">
                <h4>No</h4>
                <h4>Billing Type</h4>
                <div></div>
                <h4>Amount</h4>
                <h4>Option</h4>
            </div>
            <div class="billing-details-con scroll-bar scroll-bar-y">
                <div class="billing-details-wrap"></div>
                <div class="billing-footer">
                    <div></div>
                    <div></div>
                    <div><label>Grand Total :</label></div>
                    <div class="jsGrandTotal"><b></b></div>
                </div>
            </div>
        </div>
        <div class="">
            <hr>
            <div class="materials-footer">
                <div>
                    <div class="jsPrepBy preparedBy" style="margin-bottom: 8px;">
                        <b>Requested By: </b>
                        <label></label>
                    </div>
                    <div class="jsApproveBy approveBy">
                        <b> </b>
                        <label></label>
                    </div>
                </div>
                <div>
                    <button class="jsSendApprove">Approve</button>
                </div>
                <div>
                    <button class="jsCancel">Cancel</button>
                </div>
            </div>

        </div>

    </div>

</div>

