@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<div class="container">
    <p>Home Page</p>
</div>


@section JS {

    <script src="~/Scripts/script_home.js"></script>
}