.tr-record-header {
    background: #555;
    color: #FFF;
    padding: 15px;
    margin-bottom: 15px;
}

.tr-record-header h2 {
    margin: 0;
    padding: 5px;
    text-shadow: 0 0 5px black;
    font-size: 25px;
    border-bottom: 2px groove #999;
    margin-bottom: 15px;
}

.tr-record-filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.tr-record-filter label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
.tr-record-filter input {
    padding: 5px;
}
.tr-record-filter input:focus {
    outline: none;
}
.trRecord-dateRange-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
}
input[name=TRDateFrom],
input[name=TRDateTo] {
    width: 100%;
    height: 28px;
}

.tr-recordTheader,
.tr-recordTbodyItems {
    display: grid;
    grid-template-columns: 70px 1fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr;
}
.tr-recordTbodyItems {
    border-bottom: 1px solid #999;
}

.tr-recordTheader {
    background: #333;
    color: #FFF;
}
.tr-recordTheader div {
    padding: 15px;
    border: 1px solid #555;
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tr-recordTbodyItems div {
    text-align: center;
    font-size: 14px;
    padding: 10px 5px;
}
.no-record-found {
    text-align: center;
    padding: 10px 5px;
    border-bottom: 1px solid #999;
    font-size: 15px
}
.tr-recordTbodyItems:hover {
    background: #e5e5e5;
    cursor: pointer;
}

/*#region -- fundrequest*/
.tr-recordTheaderfund {
    display: grid;
    grid-template-columns: 60px 150px 170px 1fr 210px 160px 160px 130px;
    background: #333;
    color: #FFF;
}
.tr-recordTheaderfund div {
    padding: 10px 5px;
    border: 1px solid #555;
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tr-record-filterfund {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}
.tr-record-filterfund input {
    padding: 5px;
}
.tr-recordTbodyDetail {
    display: grid;
    grid-template-columns: 60px 150px 170px 1fr 210px 160px 160px 130px;
    border-bottom: 1px solid;
    text-align: center;
    padding: 10px 5px;
}
.tr-recordTbodyDetail:hover {
    background: #e5e5e5;
    cursor: pointer;
}
.fund-header-title {
    background: #8b8b8b;
    color: #FFF;
    display: grid;
    grid-template-columns: 1fr 150px 350px;
}
.fund-header-title label {
    padding: 7px;
    color: #000000;
    font-weight: 600;
}
.fund-header {
    border: 1px solid;
    padding: 5px;
    display: grid;
    grid-template-columns: 60px 200px 1fr 200px 200px;
    grid-column-gap: 15px;
    margin-top: 15px;
}
.fund-header h4 {
    margin: 0;
    text-align: center;
}
.fund-detail {
    border-bottom: 1px solid;
    text-align: center;
    padding: 8px;
    display: grid;
    grid-template-columns: 60px 200px 1fr 200px 200px;
    grid-column-gap: 15px;
}
.fund-detail-con{
    height: 500px;
}
/*#endregion*/